{% if use_ssl %}
server {
    listen      80;
    {% if nginx_server_names is defined %}
    server_name {% for server_name in nginx_server_names %}{{ server_name }} {% endfor %};
    {% else %}
    server_name {{ nginx_server_name }};
    {% endif %}
    return     301 https://{{ nginx_server_name }}$request_uri;
}

server {
    listen              443;
    server_name         {{ nginx_server_name }};
    ssl on;
    ssl_certificate     {{ nginx_ssl_dest_dir }}/{{ project_name }}.crt;
    ssl_certificate_key {{ nginx_ssl_dest_dir }}/{{ project_name }}.key;
    ssl_protocols       TLSv1 TLSv1.1 TLSv1.2 TLSv1.3;
    ssl_ciphers         'ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-AES256-GCM-SHA384:DHE-RSA-AES128-GCM-SHA256:DHE-DSS-AES128-GCM-SHA256:kEDH+AESGCM:ECDHE-RSA-AES128-SHA256:ECDHE-ECDSA-AES128-SHA256:ECDHE-RSA-AES128-SHA:ECDHE-ECDSA-AES128-SHA:ECDHE-RSA-AES256-SHA384:ECDHE-ECDSA-AES256-SHA384:ECDHE-RSA-AES256-SHA:ECDHE-ECDSA-AES256-SHA:DHE-RSA-AES128-SHA256:DHE-RSA-AES128-SHA:DHE-DSS-AES128-SHA256:DHE-RSA-AES256-SHA256:DHE-DSS-AES256-SHA:DHE-RSA-AES256-SHA:AES128-GCM-SHA256:AES256-GCM-SHA384:AES128-SHA256:AES256-SHA256:AES128-SHA:AES256-SHA:AES:CAMELLIA:DES-CBC3-SHA:!aNULL:!eNULL:!EXPORT:!DES:!RC4:!MD5:!PSK:!aECDH:!EDH-DSS-DES-CBC3-SHA:!EDH-RSA-DES-CBC3-SHA:!KRB5-DES-CBC3-SHA';
    ssl_prefer_server_ciphers on;
    ssl_dhparam          /etc/ssl/certs/dhparams.pem;
    
    client_max_body_size 10M;
    location = /favicon.ico { access_log off; log_not_found off; }

    location {{ static_url }} {
        alias {{ static_path }};
    }

    location {{ media_url }} {
        alias {{ media_path }};
    }

    location / {
        include         uwsgi_params;
        uwsgi_pass      unix:/tmp/{{ project_name }}.sock;
    }
}
{% else %}
server {
    listen 80 default_server;

    client_max_body_size 10M;
    location = /favicon.ico { access_log off; log_not_found off; }

    location {{ static_url }} {
        alias {{ static_path }};
    }

    location {{ media_url }} {
        alias {{ media_path }};
    }

    location / {
        include         uwsgi_params;
        uwsgi_pass      unix:/tmp/{{ project_name }}.sock;
    }
}
{% endif %}